* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
body{
    height: 10000px;
    min-width: 1226px;
}
a{color: #333;text-decoration: none;}
.container{
    width: 1226px;
    margin: 0 auto;
}
.xiaomiTop{
    background-color: #333;
    width: 100%;
    height: 40px;
    .container{
        .container;
        .left{
            display: inline;
            float: left;
            ul{
                list-style: none;
                overflow: hidden;
                li{
                    float: left;
                    a{
                        color: #b0b0b0;
                        text-decoration: none;
                        font-size: 12px;
                        line-height: 40px;
                        margin:0px 5px 0px 5px;
                        font-weight: 300;
                            &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
        .right{
            display: inline;
            float: right;
            margin-right: 35px;
            ul{
                list-style: none;
                overflow: hidden;
                li{
                    float: left;
                    a{
                        color: #b0b0b0;
                        text-decoration: none;
                        font-size: 12px;
                        line-height: 40px;
                        margin:0px 5px 0px 5px;
                        font-weight: 300;
                        &:hover{
                            color: white;
                        }
                    }   
                }
            }
        }
        .xiaomiCart{
            display: inline;
            float: right;
            a{
                color: #b0b0b0;
                text-decoration: none;
                font-size: 12px;
                line-height: 40px;
                padding: 0 20px 0 20px;
                img{
                    width: 10px;
                    height: 10px;
                }
                &:hover{
                color: #ff6700;
            }
            }
            .car-item{
                position: absolute;
                width: 316px;
                height: 70px;
                z-index: 1995;
                display: inline;
                margin: -72px 0px 0px -318px;
                background-color: white;
                line-height: 35px;
                border:2px solid #b0b0b0;
                border-top: none;
                text-align: center;
                p{
                    color:#b0b0b0;
                }
            }
        }
        .xiaomiCart:hover{
            background-color: white;
        }

    }
}
.xiaomiHeader{
    .container{
        .container;
    }
}
.xiaomi{
    height: 40px;
    background-color: #f5f5f5;
    .container{
        .container;
        .nav{
            .nav-left{
                display: inline-block;
                a{
                    font-size: 12px;
                    line-height: 40px;
                    color: #757575;
                }
            }
        }
    }
}
    .xiaomiSection_1{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
        .left3{
            vertical-align: top;
            display: inline-block;
            .small_img{
                width: 70px;
                height: 252px;
                ul{
                    width: 70px;
                    height: 238px;
                    list-style: none;
                    li{
                        margin-bottom: 10px;
                        text-align: center;
                        width: 70px;
                        height: 70px;
                        border:1px solid #e0e0e0;
                        img{
                            padding-top: 4px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
        .center1{
            margin-left: 120px;
            margin-right: 120px;
            display: inline-block;
            .big_img{
                width: 482px;
                height: 482px;
                a{
                    img{
                        width: 482px;
                        height: 482px;
                        cursor: zoom-in;
                    }
                }
            }
        }
        .right{
            vertical-align: top;
            display: inline-block;
            width: 420px;
            height: 550px;
            h1{
                font-size: 28px;
                line-height: 38px;
                color: #333;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .message{
                font-size: 14px;
                line-height: 23px;
                color: #616161;
                padding-bottom: 20px;
                border-bottom: 1px solid #e0e0e0;
            }
            .price{
                font-size: 30px;
                line-height: 60px;
                color: #ff6700;
                font-weight: bold;
                border-bottom: 1px solid #e0e0e0;
            }
            .choice1{
                font-size: 16px;
                line-height: 48px;
                margin-top: 20px;
                margin-bottom: 20px;
                .buy{
                    background-color: #ff6700;
                    display: inline-block;
                    width: 263px;
                    height: 50px;
                    text-align: center;
                    a{
                        color: white;
                    }
                }
                .like{
                    margin-left: 10px;
                    background-color: #b0b0b0;
                    display: inline-block;
                    width: 142px;
                    height: 50px;
                    text-align: center;
                    a{
                        color: white;
                    }
                }
            }
            .choice2{
                width: 420px;
                height:42px;
                border-top: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                span{
                    display: inline-block;
                    width: 136px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                    color: #757575;
                    padding-top: 10px;
                    a:hover{
                        color: #ff6700;
                    }
                }
                .question{
                    border-left: 1px solid #e0e0e0;
                    border-right: 1px solid #e0e0e0;                    }
            }
            .more{
                margin-top: 15px;
                width: 420px;
                height: 30px;
                a{
                    font-size: 14px;
                    color: #757575;
                    &:hover{
                        color: #ff6700;
                    }
                }
            }   
        }
    }
}
.xiaomiSection_2{
    border-top:1px solid #e0e0e0;
    width: 100%;
    height: 60px;
    .container{
        .container;
        .goods{
            width: 234px;
            height: 60px;
            display: inline-block;
        }
        .introduce{
            width: 730px;
            height: 60px;
            display: inline-block;
            ul{
                width: 680px;
                height: 60px;
                list-style: none;
                li{
                    float: left; 
                    width: 169px;
                    height: 18px;
                    margin-top: 20px;
                    text-align: center;
                    border-right: 1px solid #e0e0e0;
                    a{
                        font-size: 18px;    
                        color: #424242;
                        span{
                            color: #b0b0b0;
                            font-style: normal;
                        }
                    }
                }
            }
        }
        .buy{
            width: 234px;
            height: 60px;
            display: inline-block;
        }
    }
}
.xiaomiSection_3{
    background-color: #f5f5f5;
    height: 5215px;
    .container{
        .container;
        background-color: white;
    }
}
.xiaomiSection_4{
    background-color: #f5f5f5;
    .container{
        .container;
        .title{
            position: relative;
            height: 60px;
            padding-top: 60px;
            .borderline{
                border-top: 1px solid #e0e0e0;
            }
            h2{
                position: absolute;
                display: inline-block;
                height: 30px;
                width: 300px;
                font-size: 30px;
                line-height: 30px;
                color: #b0b0b0;
                background-color: #f5f5f5;
                font-weight: normal;
                left:50%;
                margin-left: -150px;
                text-align: center;
                top:45px;
            }
        }
        .message{
            padding-top: 50px;
            background-color: #fff;
            height: 180px;
            .photo{
                display: inline-block;
                width: 240px;
                height: 180px;
                margin-left: 40px;
            }
            .color{
                vertical-align: top;
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                width: 290px;
                height: 44px;
            }
            .number{
                vertical-align: top;
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                width: 290px;
                height: 44px;
                margin-left: 10px;
            }
            .eva_number{
                width: 280px;
                height: 85px;
                line-height: 85px;
                color: #ff6700;
                font-size: 80px;
                text-align: center;
                margin-left: 50px;
                span{
                    font-size: 24px;
                }   
            }
            .eva{
                width: 280px;
                height: 15px;
                line-height: 15px;
                color: #757575;
                font-size: 14px;
                margin-top: 5px;
                text-align: center;
                margin-left: 50px;
            }
            .amount{
                width: 280px;
                height: 14px;
                line-height: 14px;
                color: #b0b0b0;
                margin-top:10px;
                text-align: center;
                margin-left: 50px;
            }

        }
    }
}
.xiaomiSection_5{
    background-color: #f5f5f5;
    .container{
        .container;
        .left_5{
            margin-top: 10px;
            width: 854px;
            height: 2699px;//5050px;
            display: inline-block;
            .title{
                width: 854px;
                height: 60px;
                .title_left{
                    float: left;
                    font-size: 20px;
                    line-height: 60px;
                    color: #424242;
                    font-weight: normal;
                }
                .title_right{
                    float: right;
                    font-size: 20px;
                    line-height: 60px;
                    color: #424242;
                    font-weight: normal;
                }
            }
            ul{
                list-style: none;
                height: 854px;
                height: 2605px;
                .hide{
                    display: none;
                }
                .user_1{
                    border-left:2px solid #ffac13;
                }
                .user_2{
                    border-left: 2px solid #83c44e;
                    height: 530px;
                    dl{
                        height: 460px;
                    }
                }
                .user_3{
                    height: 480px;
                    border-left:2px solid #00c0a5;
                    dl{
                        height: 430px;
                        dt{
                            p{
                                height: 33px;
                            }
                        }
                    }
                }
                .user_4{
                    height: 453px;
                    border-left:2px solid #2196f3;
                    dl{
                        height: 410px;
                        dt{
                            p{
                                height: 33px;
                            }
                        }
                    }
                }
                .user_5{
                    height: 410px;
                    border-left:2px solid #ffac13;
                    dl{
                        height: 370px;
                        dt{
                            p{
                                height: 33px;
                            }
                        }
                    }
                }
                li{
                    margin-top: 10px;
                    background-color: #fff;
                    width: 854px;
                    height: 697px;
                    position: relative;
                    .userphoto{
                        display: inline-block;
                        position: absolute;
                        left: 20px;
                        top: 50px;
                        img{
                            width: 54px;
                            height: 54px;
                            border-radius: 50%;
                        }
                    }
                    .like{
                        display: inline-block;
                        position: absolute;
                        top:50px;
                        right: 20px;
                        font-size: 18px;
                        height: 20px;
                        line-height: 20px;
                        color: #ffd600;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .user{
                        display: inline-block;
                        position: absolute;
                        left: 20px;
                        bottom:20px;
                        font-size: 12px;
                        color: #b0b0b0;
                    }
                    .agree{
                        display: inline-block;
                        position: absolute;
                        right: 20px;
                        bottom:20px;
                        font-size: 12px;
                        color: #b0b0b0;
                        img{
                            width: 15px;
                            height: 15px;
                        }
                    }   
                    dl{
                        width: 620px;
                        height: 640px;
                        float: right;
                        margin-right: 100px;
                        dt{
                            margin-top: 50px;
                            p{
                                width: 620px;
                                height: 66px;
                                font-size: 18px;
                                line-height: 35px;
                                color:#424242;
                            }
                            .photo{
                                padding-top: 30px;
                                padding-bottom: 30px;
                                border-bottom: 1px solid #e0e0e0;
                                .photo1{
                                    width:160px;
                                    height:160px;
                                    display: inline-block;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        cursor: zoom-in;
                                    }
                                }
                                .photo2{
                                    width: 160px;
                                    height: 160px;
                                    display: inline-block;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        cursor: zoom-in;
                                    }
                                }
                                .photosmall{
                                    display: inline-block;
                                    height: 160px;
                                    vertical-align: top;
                                    .photo3{
                                        width: 78px;
                                        height: 78px;
                                        margin-bottom: 4px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            cursor: zoom-in;
                                        }
                                    }
                                    .photo4{
                                        width: 78px;
                                        height: 78px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            cursor: zoom-in;
                                        }
                                    }
                                } 
                            }
                        }
                        .reply{
                            margin-bottom: 20px;
                            div{
                                margin-top: 20px;
                                position: relative;
                                input{
                                    width: 518px;
                                    height: 30px;
                                    border:1px solid #ff6700;
                                    outline: none;
                                    padding-left: 20px;
                                    font-size: 12px;
                                    display: inline-block;
                                }
                                a{  
                                    position: absolute;
                                    margin: 0px 0px 0px -4px;
                                    font-size: 14px;
                                    width: 78px;
                                    height: 32px;
                                    line-height: 32px;
                                    background-color: #ff6700;
                                    color: white;
                                    text-align: center;
                                    display: inline-block;
                                }
                            }
                        }
                        .official{
                            margin-bottom: 40px;
                        }
                        .more{
                            a{
                                color: #ff6700;
                                padding-left: 40px;
                            }  
                        }
                        .answer{
                            width: 620px;
                            height: 25px;
                            margin-top: 20px;
                            div{
                                width: 28px;
                                height: 28px;
                                display: inline-block;
                                vertical-align: top;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }
                            }
                            p{  
                                margin-left: 10px;
                                display: inline-block;
                                width: 575px;
                                height: 51px;
                                font-size: 14px;
                                line-height: 25px;
                                .official{
                                    color: #ff6700;
                                }
                                a{
                                    color: #b0b0b0;
                                    img{
                                    width: 15px;
                                    height: 15px;
                                    
                                    }
                                }
                                .username{
                                    color: #b0b0b0;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .right{
            margin-top: 10px;
            margin-left: 5px;
            display: inline-block;
            height: 915px;
            width: 358px;
            vertical-align: top;
            .title{
                width: 358px;
                height: 60px;
                h3{
                    font-size: 20px;
                    line-height: 60px;
                    color: #424242;
                    font-weight: normal;
                }
            }
            ul{
                list-style: none;
                padding-left: 32px;
                padding-top: 50px;
                li{
                    height: 154px;
                    width: 255px;
                    padding-left: 35px;
                    padding-bottom: 45px;
                    border-left: 1px solid #e0e0e0;
                    position: relative;
                    .time{
                        float: right;
                        display: inline-block;
                        width: 255px;
                        height: 20px;
                        font-size: 12px;
                        color: #b0b0b0;
                        line-height: 20px;
                        font-weight: normal;
                        padding-bottom: 20px;
                    }
                    .message{
                        float: right;
                        display: inline-block;
                        width: 255px;
                        height: 22px;
                        font-size: 14px;
                        line-height: 22px;
                        padding-bottom: 20px;
                    }
                    div{
                        width: 255px;
                        float: right;
                        display: inline-block;
                        font-size: 12px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #e0e0e0;
                        .username{
                            float: left;
                            color: #b0b0b0;
                        }
                        .user_mes{
                            float: right;
                            a{
                                color: #b0b0b0;
                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                            .num{
                                color: #b0b0b0;
                            }
                        }
                    }
                    .spot{
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        display: inline-block;
                        background-color: #2196f3;
                        top:0;
                        left: -6px;
                        padding-bottom: 0px;
                        border-radius: 50%;
                    }
                    .s2{
                        background-color: #e53935;
                    }
                    .s3{
                        background-color: #83c44e;
                    }
                    .s4{
                        background-color: #ffac13;
                    }
                    .s5{
                        background-color: #83c44e;
                    }
                }
            }
        }
        .bottom{
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            background-color: #eee;
            &:hover{background-color: #e0e0e0;}
            p{  
                position: relative;
                font-size: 14px;
                color: #424242;
                span{
                    position: absolute;
                    top: 5px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .more_5{
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            background-color: #eee;
            display: none;
            &:hover{
                background-color: #e0e0e0;
                p{
                    color: #ff6700;
                }
            }
            p{  
                position: relative;
                font-size: 14px;
                color: #424242;
            }
        }
    }
}
.xiaomiSection_6{
    background-color: #f5f5f5;
    .container{
        .container;
        background-color: #fafafa;
        .title{
            position: relative;
            height: 60px;
            padding-top: 60px;
            background-color: #f5f5f5;
            .borderline{
                border-top: 1px solid #e0e0e0;
            }
            h2{
                position: absolute;
                display: inline-block;
                height: 30px;
                width: 300px;
                font-size: 30px;
                line-height: 30px;
                color: #b0b0b0;
                background-color: #f5f5f5;
                font-weight: normal;
                left:50%;
                margin-left: -150px;
                text-align: center;
                top:45px;
            }
        }
        .top{
            width: 100%;
            height: 44px;
            padding:20px 0 20px 0;
            text-align: center;
            background-color: #fafafa;
            .question{
                display: inline-block;
                width: 582px;
                position: relative;
                text-align: left;
                input{
                    height: 40px;
                    line-height: 40px;
                    width: 396px;
                    outline: none;
                    border:1px solid #ff6700;
                    padding-left: 30px;
                }
                span{
                    position: absolute;
                    top: 0;
                    display: inline-block;
                    width: 152px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #ff6700;
                    color:white;
                    border:1px solid #ff6700;
                    text-align: center;
                    vertical-align: top;
                }
            }
        }
        .notice{
            background-color: #fafafa;
            .tab-hd{
                font-size: 16px;
                color: #424242;
                line-height: 16px;
                padding-left: 45px;
                height: 60px;
                padding-right: 45px;
                .tab-nav{
                    list-style: none;
                    height: 60px;
                    line-height: 60px;
                    border-bottom: 1px solid #e0e0e0;

                    li{
                        display: inline-block;
                        a:hover{
                            color: #ff6700;
                        }
                    }
                }
            }
            .tab-bd{
                height: 472px;
                .tab-pal{
                    height: 472px;
                    ul{
                        height: 472px;
                        list-style: none;
                        li{
                            width: 556px;
                            height: 100px;
                            display: inline-block;
                            margin-left: 45px;
                            margin-top: 44px;
                            .left{
                                width: 62px;
                                height: 33px;
                                display: inline-block;
                                vertical-align: top;
                                div{
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    line-height: 30px;
                                    border-radius: 50%;
                                    &:hover{
                                        background-color: #ff6700;
                                    }
                                    a{
                                        img{
                                            width: 15px;
                                            height: 15px;
                                        }
                                    }
                                }
                                span{
                                    text-align: center;
                                    display: inline-block;
                                    width: 30px;
                                    font-size: 12px;
                                    color: #757575;
                                }
                            }
                            .center{
                                width: 372px;
                                height: 100px;
                                display: inline-block;
                                vertical-align: top;
                                a{
                                    font-size: 18px;
                                    color: #757575;
                                    line-height: 18px;
                                    font-weight: normal;
                                }
                                p{
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #757575;
                                    margin-top: 10px;
                                }
                            }
                            .right{
                                width: 110px;
                                height: 46px;
                                display: inline-block;
                                vertical-align: top;
                                p{
                                    font-size: 12px;
                                    color: #b0b0b0;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bottom{
            margin-left: 44px;
            margin-right: 44px;
            height: 61px;
            text-align: center;
            line-height: 60px;
            border-top:1px solid #e0e0e0;
            a{
                font-size: 14px;
                color: #424242;
                &:hover{
                    color: #ff6700;
                }
            }
        }
    }
}
.xiaomiSection_7,.xiaomiSection_8{
    background-color: #f5f5f5;
    .container{
        .container;
        .title{
            position: relative;
            height: 60px;
            padding-top: 60px;
            .borderline{
                border-top: 1px solid #e0e0e0;
            }
            h2{
                position: absolute;
                display: inline-block;
                height: 30px;
                width: 482px;
                font-size: 30px;
                line-height: 30px;
                color: #b0b0b0;
                background-color: #f5f5f5;
                font-weight: normal;
                left:515px; 
                margin-left: -150px;
                text-align: center;
                top:45px;
            }
        }
        .scrollBox{
            .ohbox{
                .piclist{
                    list-style: none;
                    li{
                        width: 234px;
                        height: 300px;
                        display: inline-block;
                        text-align: center;
                        background-color: #fff;
                        margin-right: 14px;
                        margin-bottom: 14px;
                        .photo{
                            padding-top: 40px;
                            display: inline-block;
                        }
                        .product{
                            display: inline-block;
                            width: 234px;
                            height: 21px;
                            padding-bottom: 10px;
                        }
                        .price{
                            display: inline-block;
                            width: 234px;
                            height: 21px;
                            color:#ff6700;
                            padding-bottom: 10px;
                        }
                        .num{
                            display: inline-block;
                            width: 234px;
                            height: 21px;
                            color:#757575;
                        }
                    }
                }
            }
            .pageBtn{
                .list{
                    list-style: none;
                    height: 30px;
                    text-align: center;
                    li{
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-radius: 50%;
                        background-color: #e0e0e0;
                        cursor: pointer;
                        margin-right: 10px;
                        &:hover{
                            background-color: #ff6700;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: #fff;
    .container{
        .container;
        .first{
            ul{
                height: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #e0e0e0;
                list-style: none;
                .division{
                    width: 12px;
                }
                li{
                    float: left;
                    padding: 0px 35px 0px 0px;
                    width: 13.8%;
                    span{
                        color: #e0e0e0;
                        font-size: 16px;
                        line-height: 25px;
                    }
                    a{
                        color: #616161;
                        font-size: 16px;
                        line-height: 25px;
                    }
                    img{
                        height: 30px;
                        width: 30px;
                    }
                    div{
                        position: relative;
                    }
                    p{
                        display: inline;
                        position: absolute;
                        margin-top: 4px;
                        &:hover{
                            color: #ff6700;
                        }
                    }
                }
            }
        }
        .mess{
            padding-top: 30px;
            padding-bottom: 30px;
            .left{
                display: inline-block;
                .fa{
                    list-style: none;
                    .fl{
                        float: left;
                        .child{
                            list-style: none;
                            li{
                                width: 155px;
                                font-size: 12px;
                                color: #757575;
                                line-height: 30px;
                                &:hover{
                                    color: #ff6700;
                                }
                            }
                            .l1{
                                font-size: 14px;
                                color: #424242;
                                line-height: 40px;
                            }
                        }
                        .lastU{
                            padding-right: 31px;
                            border-right: 1px solid #e0e0e0;
                        }
                    }
                }
            }
            .right{
                display: inline-block;
                vertical-align: top;
                width: 252px;
                height: 112px;
                text-align: center;
                .phone{
                    font-size: 22px;
                    color: #ff6700;
                    margin: 0;
                    padding-top: 10px;
                }
                .time{
                    font-size: 12px;
                    color: #616161;
                    margin:0;
                    padding-top: 15px;
                }
                .kefu{
                    margin-top: 20px;
                    a{
                        text-decoration: none;
                        color:#ff6700;
                        border: 1px solid #ff6700;
                        font-size: 12px;
                        padding: 5px 10px;
                    }
                    a:hover{
                       color:white;
                       background-color: #ff6700; 
                    }
                }
            }
        }
    }
}
.last{
    background-color: #fafafa;
    .container{
        .container;
        .left{
            display: inline;
            float: left;
            img{
                width: 57px;
                height: 57px;
                background-color: #ff6700;
            }
        }
        .mid{
            display: inline-block;
            ul{
                list-style: none;
                display: inline-block;
                li{
                    float: left;
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        color: #757575;
                        padding: 0px 5px 0px 5px;
                        &:hover{
                            color: #ff6700;
                        }
                    }
                    span{
                        color: #b0b0b0;
                    }
                }
            }
            p{
                font-size: 12px;
                color: #b0b0b0;
                padding: 0px 0px 0px 5px;
                a{
                    color: #b0b0b0;
                }
            }
        }
        .right{
            display: inline-block;
            float: right;
            ul{
                list-style: none;
                li{
                    float: left;
                    a{
                        img{
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
}
.advertisement{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}