body {
    height: 10000px;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.xiaomiTop {
    background-color: #333;
}

.xiaomiTop .container {
    width: 1220px;
    margin: 0 auto;
    overflow: hidden;
}

.xiaomiTop .container .left {
    display: inline;
    float: left;
}

.xiaomiTop .container .right {
    display: inline;
    float: right;
    margin-right: 35px;
}

.xiaomiTop .container ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.xiaomiTop .container ul li {
    float: left;
}

.xiaomiTop .container ul li a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 300;
}

.xiaomiTop .container ul li a:hover {
    color: white;
}

.xiaomiTop .container .xiaomiCart {
    display: inline;
    float: right;
}

.xiaomiTop .container .xiaomiCart a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    padding: 0 20px 0 20px;
}

.xiaomiTop .container .xiaomiCart:hover {
    background-color: white;
}

.xiaomiTop .container .xiaomiCart a:hover {
    color: #ff6700;
}

.xiaomiTop .container .xiaomiCart a i img {
    width: 10px;
    height: 10px;
}

.xiaomiTop .container .xiaomiCart .car-item {
    position: absolute;
    width: 316px;
    height: 70px;
    z-index: 1996;
    display: inline;
    margin: -72px 0px 0px -318px;
    background-color: white;
    line-height: 35px;
    border: 2px solid #b0b0b0;
    border-top: none;
    text-align: center;
}

.xiaomiTop .container .xiaomiCart .car-item p {
    color: #b0b0b0;
}

.xiaomiHeader {
    height: 100px;
}

.yincan {
    background-color: #f5f5f5;
    height: 52px;
    width: 100%;
    border: 1px solid #e0e0e0;
}

.yincan .container {
    width: 1220px;
    margin: 0 auto;
    height: 30px;
    padding: 10px 0 10px 0;
}

.yincan .container .title {
    display: inline;
    float: left;
}

.yincan .container .title h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #424242;
    margin: 0;
}

.yincan .container .nav {
    display: inline;
    float: right;
    line-height: 30px;
}

.yincan .container .nav .nav-left {
    margin-right: 10px;
}

.yincan .container .nav .nav-left span {
    color: #e0e0e0;
}

.yincan .container .nav a {
    color: #333;
    font-size: 14px;
    padding: 0px 5px;
    text-decoration: none;
}

.yincan .container .nav .nav-left a:first-child {
    color: #ff6700;
}

.yincan .container .nav .nav-left a:hover {
    color: #ff6700;
}

.yincan .container .nav .buy {
    font-size: 12px;
    padding: 7px 30px;
    color: white;
    background-color: #ff6700;
}

.yya {
    position: fixed;
    left: 0;
    top: 0;
}

.gizle {
    transition: 1s;
    top: -60px;
}

.sabit {
    transition: 1s;
    top: 0;
    z-index: 1995;
    box-shadow: 0px 0px 3px #b0b0b0;
    background-color: rgba(255, 255, 255, 0.9)
}

.bookair_section1 {
    position: relative;
    height: 1040px;
}

.bookair_section1 .title {
    width: 1220px;
    margin: 0 auto;
    text-align: center;
}

.bookair_section1 .title h1 {
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
    color: #424242;
    letter-spacing: 6px;
}

.bookair_section1 .title .message {
    color: #b0b0b0;
}

.bookair_section1 .title .message .version {
    color: #ff6700;
    border: 1px solid #e53935;
    padding: 3px 15px 3px 15px;
    border-radius: 3px;
}

.bookair_section1 .title .message span {
    color: #ff6700;
    padding: 0px 10px 0px 20px;
}

.bookair_section1 .title .message del {
    color: #b0b0b0;
}

.bookair_section1 .title .message em {
    font-size: 26px;
    font-style: normal;
    padding: 0px 10px 0px 10px;
}

.bookair_section1 .big_img {
    height: 1040px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;
}

.bookair_section1 .big_img {
    background-image: url('../img/mibookair/summary-index.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.bookair_section1 video {
    height: 1040px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;
}

.bookair_section2 {
    width: 1220px;
    height: 520px;
    margin: 0 auto;
}

.bookair_section2 .title p {
    font-size: 18px;
    color: #424242;
    line-height: 30px;
    text-align: center;
    padding: 0px 150px 0px 150px;
    letter-spacing: 3px;
}

.bookair_section2 .message ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bookair_section2 .message ul li {
    display: inline-block;
    width: 403px;
    height: 125px;
    text-align: center;
    padding:40px 0px 30px 0px;
}
.bookair_section2 .message ul li div{
    width: 90px;height: 66px;
    display: inline-block;
}
.bookair_section2 .message ul li .Characteristic{
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #616161;
}
.bookair_section2 .img1 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 0px;
}

.bookair_section2 .img2 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 -64px;
}

.bookair_section2 .img3 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 -128px;
}

.bookair_section2 .img4 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 -192px;
}

.bookair_section2 .img5 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 -256px;
}

.bookair_section2 .img6 {
    width: 90px;
    height: 66px;
    background-image: url('../img/mibookair/summary-per-icon.png');
    background-repeat: no-repeat;
    background-position: 0 -323px;
}

.bookair_section3 {
    height: 850px;
}
    
.bookair_section3 .big_img{
    height: 850px;
    background-image: url('../img/mibookair/summary-section03.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}
